@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,600;1,600&display=swap');

:root {
    --lema: rgb(249, 5, 5);
    --accent-color: rgb(191, 12, 240);
    --neutral-color: rgb(229, 225, 254);
    --grey: rgb(158, 157, 171);
    --bg-color: rgb(163, 151, 151);
    --light-color: rgb(243, 82, 82);
    --blue-light: rgb(167, 134, 249);
    --sans-serif-font: 'Lato', sans-serif;
    --serif-font: 'Noto Serif', serif;
    --open-san: 'Open Sans Regular';
    --dark-color:rgb(0,0,0,);
}

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
    --main-color: rgb(0, 59, 74);
}

body {
    font-family: var(--sans-serif-font);
    font-weight: 400;
    color: var(--main-color);
}

h1,
h2,
h3,
h4 {
    font-weight: 600;
    font-family: var(--serif-font);
}

h1 {
    font-size: 2.3rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h3 {
    font-size: 1.45rem;
    margin-bottom: 1rem;
}

h4 {
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

ol,
ul {
    margin-left: 1.5rem;
    font-size: 1rem;
}

a {
    color: var(--accent-color);
    text-decoration: none;
    border-bottom: 1px dotted;
    padding-bottom: 2px;
}

a:hover {
    color: var(--main-color);
}

.top{
    color: var(--dark-color);
}

@media (min-width: 992px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2rem;
    }

    p {
        font-size: 1.2rem;
    }

    ol,
    ul {
        font-size: 1.2rem;
    }
}

.img-fluid {
    width: 100%;
    height: auto;
    display: block;
} 


iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border: 0;
}  

header.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    min-height: 10vh;
    padding-top: 0rem;
    padding-bottom: 1rem;
    background-color: var(--light-color);
    box-shadow: 1px 5px 5px 0px rgba(229, 225, 254, 0.25);
}

div.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 1rem;
}

nav li:first-child::after {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    content: " | "
}

.top a {
    font-weight: 700;
    color: var(--dark-color);
    border-bottom: none;
}

.top a:hover {
    color: var(--accent-color);
}

footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: var(--main-color);
    color: var(--light-color);
    text-align: center;
}

footer div:first-child {
    margin-bottom: 1rem;
}

footer div:first-child p {
    padding-top: 1rem;
    font-size: .9rem;
    margin: 0;
}

footer ul {
    margin-left: 0;
    list-style-type: none;
}

footer ul li {
    padding-bottom: .5rem;
    font-size: .9rem;
}

footer ul.social li {
    display: inline-block;
}

footer a {
    color: var(--light-color);
    border-bottom: none;
}

footer a:hover {
    color: var(--neutral-color);
}

footer ul.social li img:hover {
    opacity: 0.7;
}

.container-dependence {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
}

.h1-izquierda{ 
    align-self: flex-start;
}

.grid-dependence {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    list-style: none; 
    padding: 0;
}

.grid-dependence a {
    margin: 10px; 
}

.grid-dependence img {
    width: 300px; 
    height: auto; 
}

@media(min-width: 992px) {
    .flex-footer {
        display: flex;
        justify-content: space-between;
        text-align: left;
        align-items: center;
    }

    footer .footer-right {
        text-align: right;
    }

    footer ul.social {
        margin-bottom: 0.5rem;
    }

    footer ul.legal li {
        display: inline-block;
        padding-bottom: 0;
    }

    footer ul.legal li::after {
        content: " | ";
        padding-right: .2rem;
        padding-left: .2rem;
    }

    footer ul.legal li:last-child::after {
        content: "";
        padding-right: 0;
        padding-left: 0;
    }
}

main {
    margin: calc(10vh + 3rem) 0;
}

main.home {
    margin: 10vh 0 0;
}


.container-fluid {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
}

.container-fluid h1{
text-align: center;
}

.contenedor-derechos {
    text-align: center;
    }

.contenedor-equipo h1{
        text-align: center;
        margin-bottom: 0;
    }


    
.container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}


.container-dependence h1{
    margin-top:30px;
}

.animated-text {
    transition: font-size 1s ease;
}

.animated-text:hover {
    font-size: 50px;
}

.animated-img {
    transition: transform 0.5s ease;
}


/*     hola     */

.contenedor-imagen {
    position: relative;
    width: 691px;
    height: 117px;
    overflow: hidden;
    margin-top:15px;
    margin-bottom:15px;
  }
  
  .imagen1, .imagen2, .imagen3 {
    position: absolute;
    left: -78%;
    transition: left 1s ease;
  }
  
  .contenedor-imagen:hover .imagen1, 
  .contenedor-imagen:hover .imagen2, 
  .contenedor-imagen:hover .imagen3 {
    left: 0;
  }

  /*     hola     */

  .imgSrc1{
    width:30px;
    height:30px;
  }

  .imgSrc2{
    width:27px;
    height:27px;
  }

  .meta-data a {
    color: #6f36a1;
}

.Capa_1 {
    stroke-dasharray: 60000;
    stroke-dashoffset: 60000;
    animation: dash 45s linear forwards;
}

.svgAnimation{
    display: flex;
    width: 25%;
    align-items: center;
}

.svgAnimation div{
    display:inline-block;
    width:48%;
}

@keyframes dash {
  

    to {
        stroke-dashoffset: 0;
    }
}

@media (min-width: 992px) {
    .container-fluid {
        padding-right: 4rem;
        padding-left: 4rem;
    }
}



@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
        margin-left: auto;
        margin-right: auto;
    }
}

.hero-image {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-image: url(./img/imagen_fondo.webp);
    background-size: cover;
    background-position: center;
    color: var(--light-color);
}

.hero-image h1.lema {
    font-size: 3rem;
    line-height: 1.1em;
    font-weight: 900;
    color: var(--lema);
    font-family: var(--sans-serif-font);
    margin:0;
}

main.home section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

main.home section.aims {
    margin-bottom: 0;
}

.rutas {
    width: 100%;
}

rutas>div {
    margin-bottom: 1rem;
}

.rutas p{
    color: var(--light-color);
    font-family: var(--open-san);
    font-size: 200%;
}

section.aims {
    background-color: var(--blue-light);
}

.aims-content {
    margin-bottom: 3rem;
}

.button {
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem .8rem;
    background-color: var(--main-color);
    color: var(--bg-color);
    font-family: var(--sans-serif-font);
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4px;
}

.button:hover {
    background-color: var(--accent-color);
    color: white;
}

@media (min-width: 768px) {
    .animated-img:hover {
        transform: scale(1.2);
    }
    

    .rutas {
        width: 70%;
    }

    div.aims-content {
        display: flex;
        align-items: center;
        gap: 3rem;
    }

    div.aims-img {
        width: 30%;
    }

    div.aims-text {
        width: 70%;
    }

    .aims-img.even {
        order: 1;
    }
}

@media (min-width: 992px) {
    .hero-image h1.lema {
        font-size: 4.2rem;
        max-width: 750px;
    }

    div.intro-home {
        display: flex;
        justify-content: space-between;
        gap: 4rem;
    }

    div.intro-home>div {
        width: 50%;
    }

    div.aims-text p {
        font-size: 1.5rem;
    }
}

.card-content {
    padding: 15px;
    color: var(--dark-color);
}

.card-content h2 a, .card-content h4 a   {
    color: var(--dark-color);
    border-bottom: none;
}

.card-content h2 a:hover, .card-content h4 a:hover {
    color: var(--accent-color);
}

.card-content h2 {
    margin-bottom: .5rem;
    margin-top: 0;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 1.2;
}

.grid-blog>article,
.grid-videos>article {
    margin-bottom: 3rem;
    background: var(--light-color);
    border: 1px solid var(--neutral-color);
}

.grid-blog>article:last-child,
.grid-videos>article:last-child {
    margin-bottom: 0;
}

.datos {
    margin-bottom: 2px;
    font-size: 0.9rem;
    color: var(--neutral-color);
}

.card-image {
    position: relative;
}

@media (min-width: 768px) {
    .grid-blog>article,
    .grid-videos>article {
        margin-bottom: 0;
    }

    .grid-blog {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }

    .grid-videos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }
}

@media (min-width: 1200px) {
    .grid-blog {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3rem;
    }

    .grid-blog>article:first-child {
        grid-column: 1 / span 2;
    }

    .grid-videos {
        grid-template-columns: repeat(3, 1fr);
    }
}

.blog-post {
    padding: 1rem;
    background-color: var(--light-color);
}

.blog-post header {
    padding: 0.7rem;
    background-color: var(--neutral-color);
}

.blog-post header a {
    color: var(--main-color);
    border-bottom: none;
}

.blog-post header a:hover {
    color: var(--accent-color);
}

.blog-post h1 {
    line-height: 1.2;
    font-size: 2.6rem;
    margin-bottom: 1rem;
}

.blog-post h2 {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.blog-post .intro {
    margin: 3rem 0;
    font-size: 1.3rem;
}

.last-posts article {
    margin-bottom: 2rem;
    background-color: var(--light-color);
}

.last-posts article .card-content {
    padding: 10px;
}

aside h3 {
    font-family: var(--sans-serif-font);
}

aside section:first-of-type {
    margin-top: 3rem;
}

.clip-animation { 
    margin-top: 50px;
    width: 270px;
    height: 220px;
    clip-path: path('M53.275,1.675c-8.1-3.6-18.425,0-22.025,7.65C27.65,1.225,16.875-2.375,9.225,1.675C0.7,5.725-3.35,15.6,3.375,27.725C8.325,36.275,16.875,42.575,31.25,54.25c14.825-11.675,23.375-17.975,27.875-26.525C65.85,16.05,61.8,5.725,53.275,1.675z');
   }
  
  .clip-animation { 
    animation: clip 2s infinite
  }
  
  @keyframes clip {
    0% {
        clip-path: path('M53.275,1.675c-8.1-3.6-18.425,0-22.025,7.65C27.65,1.225,16.875-2.375,9.225,1.675C0.7,5.725-3.35,15.6,3.375,27.725C8.325,36.275,16.875,42.575,31.25,54.25c14.825-11.675,23.375-17.975,27.875-26.525C65.85,16.05,61.8,5.725,53.275,1.675z');
    }
    50% {
        clip-path: path('M213.1,6.7c-32.4-14.4-73.7,0-88.1,30.6C110.6,4.9,67.5-9.5,36.9,6.7C2.8,22.9-13.4,62.4,13.5,110.9 C33.3,145.1,67.5,170.3,125,217c59.3-46.7,93.5-71.9,111.5-106.1C263.4,64.2,247.2,22.9,213.1,6.7z');
    }
    100% {
        clip-path: path('M53.275,1.675c-8.1-3.6-18.425,0-22.025,7.65C27.65,1.225,16.875-2.375,9.225,1.675C0.7,5.725-3.35,15.6,3.375,27.725C8.325,36.275,16.875,42.575,31.25,54.25c14.825-11.675,23.375-17.975,27.875-26.525C65.85,16.05,61.8,5.725,53.275,1.675z');
    }
  }


  @keyframes move {
    to {
      margin-left: 200px;
    }
  }
  
  .clip-svg {
    margin-top: 50px;
    animation: move 2s alternate infinite linear;
    clip-path: url(#myClip);
    width:200px;
    height: 200px;
  }
  
  .gradient {
    display: flex;
    align-items: center;
    background: linear-gradient(
      to bottom,
      #FFC0CB,
      #1E1E3C
    );
  }

  .contenedor-new{
    position:relative;
    display:flex;
    justify-content:center;
    align-items: center;
    overflow: hidden;
  }

  .responsive-new img{
    width:100%;
    height: auto;
  }

  .img-magafono{
    width:50px;
  }

  .contenedor-megafono, .contenedor-video, .contenedor-derechos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2rem;
  }

  .contenedor-equipo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  .contenedor-megafono h1{
    margin-bottom: 0;
  }


  
  .img-megafono {
    width: 10%;
    margin-left: 20px;
    height: auto;
  }

  .img-video, .img-derecho {
    width: 10%;
    margin-left: 20px;
  }

  .img-equipo {
    width: 10%;
  }

  .img-video-width, .img-derecho-width, .img-equipo-width{
    width:100%;
    height: auto;
  }


.img-megafono1,
.img-video1 img,
.img-derecho1 img,
.img-equipo1 img {
    width: 100px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    margin-top:60px;
}

.container-icons {
    display: flex;
    align-items: center;
}

@media (max-width: 993px) {
    .container-icons {
        justify-content: center;
    }
    .img-megafono1,
    .img-video1 img,
    .img-derecho1 img,
    .img-equipo1 img {
        width: 50px;
    }
}
  
  
  @media (max-width: 650px) {

    #ocultarText1, #ocultarText2 {
        display:none;
    }

    .contenedor-megafono, .contenedor-video, .contenedor-derechos{
      margin-bottom: 20px;
      flex-direction: column;
      align-items: center;
    }

    @media (max-width: 650px) {
        .contenedor-equipo{
          flex-direction: column;
          align-items: center;
        }
    }
  
    .img-megafono {
      width: 15%;
      margin: 20px 0 0 0; 
    }

    .img-video, .img-derecho {
        width: 15%;
        margin: 20px 0 0 0; 
      }
  }

@media (min-width: 768px) {
    .last-posts {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}

@media (max-width: 650px) {
    .gradient{
        flex-direction: column; 
    }
    .clip-svg {
        animation: none; 
        margin-bottom: 25px;
        margin-top: 0px;
      }

    div.top {
        flex-direction: column;
        text-align: center;
    }

    main.home {
        margin: 20vh 0 0;
    }

    .container {
        margin: 10vh 0 0;
    }

    #ajustarContainer{
        margin: 10vh 0 0;
    }

}

.contenedorReyes{
    background: var(--light-color);
    border: 1px solid var(--neutral-color);
    margin-bottom: 20px;
}

.restoNoticias{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.noticia1, .noticia2{
    width: 48%;
    text-align: center;
    background: var(--light-color);
    border: 1px solid var(--neutral-color);
}


@media (max-width: 768px) {
    @keyframes move {
        to {
          margin-left: 100px;
        }
        0% {
            clip-path: circle(75px);
        }
        100% {
            clip-path: circle(75px);
        }
      }
 
    .contenedor-imagen {
        width: 250px;
        height: 89px;
      }
      
      .imagen1, .imagen2, .imagen3 {
        left: -55%;
      }


    .imagen1 {
        content: url('img/banda_masImagReducido.jpg');
    }

    .imagen2 {
        content: url('img/banda_masClipsReducido.jpg');
    }

    .imagen3 {
        content: url('img/banda_masInfoReducido.jpg');
    }

    .animated-img:hover {
        transform: scale(1.2);
        margin-bottom: 50px;
    }

    #container_arte{
        overflow: hidden;
    }

    #imagen_arte{
    width:733px;
    height: auto;
    }

    .grid-dependence img {
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .container-dependence h1{
        margin-left:10%;
        margin-right:5%;
    }
}

@media (min-width: 1200px) {
    .intro {
        font-size: 1.6rem;
    }

    .grid-blog-post {
        display: grid;
        grid-template-columns: 65% auto;
        gap: 4rem;
    }

    .last-posts {
        margin-top: 0;
        display: block;
    }

    aside section:first-of-type {
        margin-top: 0;
    }

}